/**
* [Table of contents]
  1 1290px css
  2 1440px css
  3 1630px css
  4 1599px css
  5 1429px css
  6 1199px css
  7 991px css
  8 767px css
  9 575px css
  10 480px css
  11 350px css
/**

/* 1290px css */
@media only screen and (min-width: 1430px) {
    /*.container {
        max-width: 1290px;
    }*/
}
/* 1440px css */
@media only screen and (min-width: 1600px) {
    /*.container {
        max-width: 1440px;
    }*/
}
/* 1630px css */
@media only screen and (min-width: 1800px) {
    /*.container {
        max-width: 1630px;
    }*/
}
/* 1599px css */
@media only screen and (max-width: 1599px) {
  .brl-slide-captions-group .brl-heading{
    font-size: 54px
  }
  .brl-section-title{
    font-size: 36px;
  }
  .table-booking h4, .table-booking-menu h4{
    font-size: 34px;
  }
  .count{
    width: 22%;
  }
  .timer ul{
    width: 60%;
  }
}
/* 1429px css */
@media only screen and (max-width: 1429px) {}
/* 1199px css */
@media only screen and (max-width: 1199px) {
  .brl-head-contact p, .brl-head-contact a{
    font-size: 13px;
  }
  .brl-head-contact i{
    margin-right: 6px
  }
  .brl-slide-captions-group .brl-heading {
    font-size: 48px;
  }
  .brl-section-title{
    font-size: 32px;
  }
  .f-1 {
    width: 36%;
    margin-right: 15px;
  }
  .f-1 p br{
    display: none;
  }
  .f-2 {
      width: 14%;
      margin-right: 15px;
  }

  .f-3 {
      width: 25%;
      margin-right: 15px;
  }

  .f-4 {
      width: 25%;
      margin-right: 15px;
  }
  .banner-info h5{
    font-size: 32px;
  }
  .banner-info{
    top: 50%;
  }
  .news-info h4 br{
    display: none;
  }
  .contact-main{
    width: 45%; 
  }
  .bokking-info p br {
    display: none;
  }
  .blog-detail-tag h5{
    margin-bottom: 30px;
  }
  a.error {
    display: block;
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }
  .count{
    width: 35%;
  }
  .timer ul li:before, .timer ul li:after{
    right: -10px;
  }
}
/* 991px css */
@media only screen and (max-width: 991px) {
    /* menu css */
    .navbar{
      z-index: 5646;
    }
    .navbar-toggler{
      padding: 0;
      border: none;
      position: relative;
      z-index: 2;
      transition: all 0.5s;
    }
    .navbar-collapse {
      background: #363840;
      box-shadow: 0 0px 0 10px #fff inset, 0 0 0 11px #000 inset;
      padding: 60px 20px 15px;
      position: fixed;
      top: 0;
      right: 0;
      display: block !important;
      width: 50% ;
      text-align: center;
      bottom: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      -webkit-transform: translateX(110%);
      -moz-transform: translateX(110%);
      -ms-transform: translateX(110%);
      -o-transform: translateX(110%);
      transform: translateX(110%);
      height: auto !important;
      overflow-y: auto;
    }
    .navbar-collapse.collapse.show{
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }
    .navbar .dropdown-menu{
      text-align: center;
      border: none;
      padding: 0;
    }
    .navbar .dropdown-item{
      padding: 0;
    }
    
    .hamburger {
      top: 50%;
      left: 50%;
      width: 30px;
      height: 24px;
      cursor: pointer;
    }
    .hamburger.open {
      position: fixed;
      left: auto;
      top: 20px;
      right: 20px;
    }
    .hamburger .hm {
      position: absolute;
      display: block;
      width: 30px;
      height: 3px;
      opacity: 1;
      border-radius: 3px;
      background: #c8a97e;
    }
    .hamburger .hm-1 {
      top: 0;
      -moz-transition: -moz-transform 0.3s, top 0.3s 0.3s;
      -o-transition: -o-transform 0.3s, top 0.3s 0.3s;
      -webkit-transition: -webkit-transform 0.3s, top 0.3s;
      -webkit-transition-delay: 0s, 0.3s;
      transition: transform 0.3s, top 0.3s 0.3s;
    }
    .hamburger .hm-2 {
      top: 10px;
      -moz-transition: opacity 0.3s ease-out;
      -o-transition: opacity 0.3s ease-out;
      -webkit-transition: opacity 0.3s ease-out;
      transition: opacity 0.3s ease-out;
    }
    .hamburger .hm-3 {
      top: 20px;
      -moz-transition: -moz-transform 0.3s, top 0.3s 0.3s;
      -o-transition: -o-transform 0.3s, top 0.3s 0.3s;
      -webkit-transition: -webkit-transform 0.3s, top 0.3s;
      -webkit-transition-delay: 0s, 0.3s;
      transition: transform 0.3s, top 0.3s 0.3s;
    }
    .hamburger.open .hm-1 {
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -moz-transition: top 0.3s, -moz-transform 0.3s 0.3s;
      -o-transition: top 0.3s, -o-transform 0.3s 0.3s;
      -webkit-transition: top 0.3s, -webkit-transform 0.3s;
      -webkit-transition-delay: 0s, 0.3s;
      transition: top 0.3s, transform 0.3s 0.3s;
    }
    .hamburger.open .hm-1,
    .hamburger.open .hm-3 {
      top: 10px;
    }
    .hamburger.open .hm-3 {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -moz-transition: top 0.3s, -moz-transform 0.3s 0.3s;
      -o-transition: top 0.3s, -o-transform 0.3s 0.3s;
      -webkit-transition: top 0.3s, -webkit-transform 0.3s;
      -webkit-transition-delay: 0s, 0.3s;
      transition: top 0.3s, transform 0.3s 0.3s;
    }
    .hamburger.open .hm-2 {
      opacity: 0;
    }
    .brl-head-social, .brl-head-contact, .brand, .brl-head{
      display: none;
    }
    .brand.menu-fixed {
      display: none;
    }
    .sticky.is-sticky .brand.menu-fixed {
      display: none;
    }
    .brl-head-menu{
      display: flex;
      justify-content: center;
      max-width: 100%;
      flex-basis: unset;
      margin-top: 20px;
    }
    .btn-brl-head-book {
      position: relative;
      margin: 12px 0;
    }
    .brl-head-contact-menu{
      display: block;
      flex-basis: unset;
      max-width: unset;
      align-items: center;
      margin: 25px 0;
    }
    .brl-head-address{
      /* margin-right: 10px!important; */
      margin-bottom: 0;
      justify-content: center;
      margin: 20px 0!important;
    }
    .brl-head-direct-contact .mr-5 {
      margin-right: 10px!important;
      margin: 20px 0;
    }
    .brand-menu{
      display: block;
      flex-basis: unset;
      max-width: unset;
      width: 100px;
    }
    .brl-head-direct-contact {
        display: block;
    }
    .brl-head-contact p, .brl-head-contact a {
        font-size: 14px;
    }
    .brl-slide-captions-group .brl-heading{
      font-size: 40px;
    }
    .brl-section-title br{
      display: none;
    }
    .brl-section-title{
      font-size: 28px
    }
    .brl-service-info{
      font-size: 15px
    }
    section{
      padding: 50px 0;
    }
    .count-no, .count-label{
      text-align: center;
    }
    .count-no{
      margin-top: 20px;
    }
    .count-label{
      margin-bottom: 20px!important;
    }
    .counter-sec{
      padding: 40px 0;
    }
    .table-booking h4, .table-booking-menu h4 {
        font-size: 26px;
    }

    .table-booking p {
        font-size: 16px;
    }

    .time-menu {
        margin: 22px;
    }

    .time-menu:after {
        width: 21%;
        left: 41%;
    }
    .table-booking:after{
      height: 120px;
    }
    .table-booking, .table-booking-menu{
      height: 450px;
      padding: 40px 0;
    }
    .f-1, .f-2, .f-3, .f-4 {
        width: 45%;
    }
    .main-footer{
      flex-wrap: wrap;
    }
    .copyright p, .copyright a{
      font-size: 12px;
    }
    .f-1 ul li a{
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
    .contact-main{
      position: relative;
      transform: unset;
      width: 100%;
    }
    .map iframe{
      width: 100%;
      height:400px;
    }
    .contact:nth-last-child(1) {
        margin-bottom: 0;
    }
    .contact-form .btn {
        margin-top: 40px;
    }
    .contact:nth-last-child(3) {
        margin-top: 0;
    }
    .contact-main-form{
      display: block;
    }
    .form-input{
      width: 100%;
      margin-right: 0;
    }
    .form-mesage{
      margin-top: 25px;
      width: 100%;
      margin-left:0
    }
    .form-mesage textarea{
      min-height: 200px;
    }
    .contact-form{
      margin-top: 30px;
    }
    .blog-detail-tag{
      padding-bottom: 0;
      margin-bottom: 0
    }
    .blog-detail-tag ul{
      flex-wrap: wrap;
    }
    .blog-detail-tag ul li{
      margin-bottom: 10px
    }
    .blog-detail-profile{
      margin-top: 40px;
    }
    .bg-gold:after, .bg-gold:before{
      width: 200px;
      height: 70%;
    }
    .count{
      width: 50%;
    }
    .bg-gold22:after, .bg-gold22:before{
      display: none;
    }
    .timer ul{
      width: 90%;
    }
}
/* 767px css */
@media only screen and (max-width: 767px) {
    .blr-pattern-img, .news-info h4 br{
      display: none;
    }
    .meeting-margin {
        margin-top: 30px;
    }
    .news-img{
      height: unset;
    }
    .news-info h4{
      font-size: 18px
    }
    .copyright{
      display: block;
      text-align: center;
    }
    .sub-copy{
      justify-content: center;
      margin-top: 12px;
    }
    .main-footer p, .main-footer a, .main-footer address, .copyright p, .copyright a{
      font-size: 14px;
    }
    .table-booking{
      height: 380px;
      padding: 30px 20px;
    }
    .news-img img {
        object-fit: cover;
        width: 100%;
    }
    .navbar-collapse{
      width: 60%
    }
    .portfolio-menu ul svg{
      width: 30px;
      height: 30px;
    }
    .portfolio-menu ul p{
      font-size: 14px;
    }
    .banner-img{
      height: 200px;
      width: 100%;
    }
    .banner-img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .blog-detail-tag h5{
      margin-bottom: 30px;
    }
    .select-box:nth-child(1) {
        margin-top: 25px;
    }
    .bokking-info {
      margin-top: 30px;
    }
    .bg-gold:after, .bg-gold:before{
      width: 140px;
      height: 50%;
    }
    .flip-clock-wrapper ul li a div div.inn{
      font-size: 34px;
    }
    .flip-clock-wrapper{
      flex-wrap: wrap;
    }
    .timer ul span{
      font-size: 48px;
    }
    .timer ul li{
      font-size: 18px;
    }
    .timer ul li:after, .timer ul li:before{
      width: 8px;
      height: 8px;
    }
}
/* 575px css */
@media only screen and (max-width: 575px) {
    .brl-section-title{
      font-size: 26px
    }
    .brl-slide-captions-group .brl-heading {
      font-size: 34px;
    }
    .count-no{
      font-size: 34px;
    }
    .copyright p, .copyright a{
      font-size: 12px;
    }
    body p, .banner-info .breadcrumb a, .banner-info .breadcrumb li{
      font-size: 14px;
    }
    .table-booking-menu{
      height: 420px;
    }
    .navbar-collapse{
      width: 70%;
    }
    .banner-info h5{
      font-size: 24px;
    }
    .bg-gold:after {
      bottom: 0;
      transform: unset;
    }
    .bg-gold:before {
      top: 0;
      transform: unset;
    }
    .count{
      width: 80%;
    }

}
/* 480px css */
@media only screen and (max-width: 480px) {
  .brl-section-title{
      font-size: 24px
    }
    .brl-slide-captions-group .brl-heading{
      font-size: 22px;
      margin-bottom: 20px;
    }
    .brl-section-title{
      margin-bottom: 20px!important
    }
    section{
      padding: 30px 0;
    }
    .time-menu:after{
      display: none;
    }
    .f-1, .f-2, .f-3, .f-4 {
      width: 100%;
    }
    .table-booking-menu{
      height: 400px;
    }
    .navbar-collapse{
      width: 90%;
    }
    .portfolio-menu ul{
      flex-wrap: wrap;
    }
    .portfolio-menu ul li{
      width: calc(100% / 3);
      margin: 15px 0;
    }
    .brl-services-2{
      padding: 30px 0;
    }
    .first-container{
      margin: 0 auto 30px auto;
    }
    .sub-copy{
      display: block;
    }
    .copyright p, .copyright a{
      margin-top: 12px;
    }
    .sub-copy p:after{
      display: none;
    }
    .brl-services2{
      padding: 30px 15px;
    }
    .timer ul span{
      font-size: 34px;
    }
    .timer ul li{
      font-size: 16px;
    }
    .timer ul{
      width: 100%;
    }
    .timer ul li:before{
      top: 40px;
    }
    .timer ul li:after{
      top: 26px;
    }
    .count{
      width: 100%;
    }
    .toTop {
      right: 15px;
      bottom: 15px;
    }
}
/* 350px css */
@media only screen and (max-width: 350px) {
    body p{
      font-size: 12px
    }
    .blog-profile-info h6{
      font-size: 16px;
    }
    .blog-profile-info2 p{
      font-size: 13px;
    }
    .timer ul span{
      font-size: 24px;
      margin-bottom:8px;
    }
    .timer ul li{
      font-size: 12px;
    }
    .timer ul li:before, .timer ul li:after{
      width: 6px;
      height: 6px;
      right: 0;
    }
}
