/* [Table of content]
=================

[01] Root
[02] Typography 
[03] Reset Default Styles
[04] Common CSS
|___[4.1] Header
       |__ [4.1.1] Navbar
[05] Index Page
|___[5.1] Carousel Slider
|___[5.2] About Section
|___[5.3] Service Section
|___[5.4] Special Dish Section
|___[5.5] Chef  Section
|___[5.6] Book A Table
|___[5.7] Testimonials
|___[5.8] Letest News Feed
|___[5.9] footer Feed
[06] Menu Page
[07] Gallery Page
[08] Blog Page
[09] Contact Page
[10] Book A Table Page
[11] Blog Detail page
[12] Menu Detail page
[13] Countdown page

====================
[ End table of content]
====================*/

/* [01] Root START HERE */
:root {
	--vulcan: #363840;
	--rodeo: #c8a97e;
	--grayish: #9395a0;
	--gunmetal: #2e3037;
}
/* Root OVER HERE */
/* [02] Typography START HERE */
@font-face {
	font-family: 'Gilroy';
	src: url('../webfonts/Gilroy-Light.eot');
	src: url('../webfonts/Gilroy-Lightd41d.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/Gilroy-Light.woff2') format('woff2'),
		url('../webfonts/Gilroy-Light.woff') format('woff'),
		url('../webfonts/Gilroy-Light.ttf') format('truetype'),
		url('../webfonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../webfonts/Gilroy-Medium.eot');
	src: url('../webfonts/Gilroy-Mediumd41d.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/Gilroy-Medium.woff2') format('woff2'),
		url('../webfonts/Gilroy-Medium.woff') format('woff'),
		url('../webfonts/Gilroy-Medium.ttf') format('truetype'),
		url('../webfonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../webfonts/Gilroy-SemiBold.eot');
	src: url('../webfonts/Gilroy-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/Gilroy-SemiBold.woff2') format('woff2'),
		url('../webfonts/Gilroy-SemiBold.woff') format('woff'),
		url('../webfonts/Gilroy-SemiBold.ttf') format('truetype'),
		url('../webfonts/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../webfonts/Gilroy-Regular.eot');
	src: url('../webfonts/Gilroy-Regulard41d.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/Gilroy-Regular.woff2') format('woff2'),
		url('../webfonts/Gilroy-Regular.woff') format('woff'),
		url('../webfonts/Gilroy-Regular.ttf') format('truetype'),
		url('../webfonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../webfonts/Gilroy-Bold.eot');
	src: url('../webfonts/Gilroy-Boldd41d.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/Gilroy-Bold.woff2') format('woff2'),
		url('../webfonts/Gilroy-Bold.woff') format('woff'),
		url('../webfonts/Gilroy-Bold.ttf') format('truetype'),
		url('../webfonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
/* Typography OVER HERE */
/* [03] Reset Default Styles START HERE */
* {
	outline: none !important;
}
*::after,
*::before,
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body .clearfix,
body .clear {
	clear: both;
	line-height: 100%;
}
body .clearfix {
	height: auto;
}
html body {
	font-family: 'Gilroy', sans-serif;
	margin: 0;
	line-height: 1.3;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	font-family: 'Gilroy', sans-serif;
	line-height: 120%;
	color: #333;
	font-weight: bold;
	margin: 0 0 15px;
}
body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child {
	margin-bottom: 0;
}
body p {
	color: #333;
	font-family: 'Gilroy', sans-serif;
	font-size: 15px;
	line-height: 140%;
	margin: 0 0 15px;
	padding: 0;
}
body p:empty {
	margin: 0;
	line-height: 0;
}
body p:last-child {
	margin-bottom: 0;
}
p strong {
	font-weight: bold;
}
::-moz-focus-inner {
	border: 0px solid transparent;
}
::-webkit-focus-inner {
	border: 0px solid transparent;
}
*::-moz-selection {
	color: #fff;
	background: #000;
}
*::-webkit-selection {
	color: #fff;
	background: #000;
}
*::-webkit-input-placeholder {
	color: #333333;
	opacity: 1;
}
*:-moz-placeholder {
	color: #333333;
	opacity: 1;
}
*::-moz-placeholder {
	color: #333333;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #333333;
	opacity: 1;
}
input[type="file"]::-webkit-file-upload-button {
	cursor: pointer;
}
input[type="file"]::-moz-file-upload-button {
	cursor: pointer;
}
input[type="file"]::-ms-file-upload-button {
	cursor: pointer;
}
input[type="file"]::-o-file-upload-button {
	cursor: pointer;
}
input[type="file"],
a[href],
input[type='submit'],
input[type='button'],
input[type='image'],
label[for],
select,
button,
.pointer {
	cursor: pointer;
}
a {
	outline: none;
	color: #555;
}
a:hover {
	color: #000;
}
.a-left {
	text-align: left;
}
.a-right {
	text-align: right;
}
.a-center {
	text-align: center;
}
a,
span,
div a:hover,
div a:active,
button {
	text-decoration: none;
}
a,
div a:hover,
div a:active,
div a:focus,
button {
	text-decoration: none;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.clr:after,
ul:after,
.clearfix:after,
li:after,
.grve-container:after {
	clear: both;
	display: block;
	content: "";
}
.btn.focus,
.btn:focus {
	box-shadow: none !important;
}
.form-control:focus {
	box-shadow: none !important;
}
img {
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
label em {
	color: #ff0000;
	display: inline-block;
	font-style: normal;
	vertical-align: top;
	margin-left: 5px;
}
.hidden {
	display: none !important;
}
.no-list li,
.no-list ul,
.no-list ol,
footer li,
footer ul,
footer ol,
header li,
header ul,
header ol {
	list-style: inside none none;
}
.no-list ul,
.no-list ol,
footer ul,
footer ol,
header ul,
header ol {
	margin: 0;
	padding: 0;
}
ul:after,
li:after,
.clr:after,
.clearfix:after,
.container:after,
.grve-container:after {
	clear: both;
	display: block;
	content: "";
}
div input,
div select,
div textarea,
div button {
	font-family: 'Gilroy', sans-serif;
}
div select {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
div select option {
	font-size: 13px;
	color: #333;
	padding: 2px 5px;
}
section {
	padding: 80px 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset Default Styles OVER HERE */
/* scroll Hide */
html.show-menu {
	overflow: hidden;
}
html.show-menu body {
	overflow: hidden;
	height: 100%;
}
/* [04] Common CSS CSS START Here */
/* [4.1] Header CSS START Here */
header {
	transform: all 0.5s;
	z-index: 999;
	background-color: var(--gunmetal);
	color: var(--grayish);
}
.brl-head {
	padding: 30px 0;
}
.brl-head-contact {
	font-weight: 500;
}
.brl-head-contact i {
	color: var(--rodeo);
	margin-right: 10px;
}
.brl-head-contact p,
.brl-head-contact a {
	font-size: 16px;
	color: #9395a0;
}
.fa-phone {
	transform: rotate(90deg);
}
.brl-head-address {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.brl-head-social {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.brl-head-social .brl-social-wrapper:not(:last-child) {
	margin-right: 20px;
}
.brl-social-wrapper a {
	width: 40px;
	height: 40px;
	border: 1px solid var(--rodeo);
	border-radius: 50px;
	line-height: 40px;
	font-size: 18px;
	color: var(--rodeo);
	display: block;
	text-align: center;
}
.brl-social-wrapper a:hover {
	background-color: var(--rodeo);
	color: #fff;
}
.brl-head-direct-contact {
	display: flex;
	align-items: center;
}
.brl-head-col {
	flex-basis: 33.33%;
	max-width: 33.33%;
}
.brand {
	text-align: center;
	display: block;
}
.brand.menu-fixed {
	display: none;
    max-width: 100px;
}
.sticky.is-sticky .brand.menu-fixed {
	display: block;
}
/* [4.1.1] Navbar CSS START Here */
.navbar {
	background-color: var(--vulcan);
	position: relative;
}
.sticky.is-sticky {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
}
.navbar .navbar-nav .nav-link {
	color: #fff;
	font-weight: 500;
	padding: 15px 20px;
	font-size: 17px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .active>.nav-link {
	color: var(--rodeo);
}
.btn-brl-head-book {
	background-color: var(--rodeo);
	color: #fff;
	font-weight: 600;
	border-radius: 8px;
	border-bottom-left-radius: 0;
	position: absolute;
	right: 0;
	padding: 10px 20px;
	border: 2px solid transparent;
}
.btn-brl-head-book:hover {
	color: #c8a97e;
    text-decoration: none;
    border: 2px dashed #c8a97e;
    background: transparent;
}
.navbar-collapse{
	position: relative;
}
.brl-head-menu, .brl-head-contact-menu, .brand-menu{
	display: none;
}
/* Navbar CSS OVER Here */
/* Header CSS OVER Here */
.brl-section-title {
	font-weight: 600;
	color: var(--vulcan);
	font-size: 40px;
	margin-bottom: 40px!important;
}
/* Common CSS OVER Here*/
/* [5.1] Carousel Slider CSS START Here */
.brl-slider-wrapper {
	height: 70vh;
	min-height: 700px;
	overflow: hidden;
	position: relative;
}
.blr-pattern-img {
	display: flex;
	flex-direction: row;
	align-content: center;
}
.blr-pattern-img img {
	margin: unset;
}
.blr-pattern-left {
	justify-content: flex-end;
}
.blr-pattern-right {
	justify-content: flex-start;
}
.brl-slide-captions-group .brl-heading::before {
	content: "\0025C6";
	padding-right: 28px;
	color: var(--rodeo);
	font-size: 25px;
}
.brl-slide-captions-group .brl-heading {
	font-weight: 100;
	color: #fff;
	margin: 50px 0 5px;
	font-size: 62px;
	display: inline-flex;
}
.brl-slide-captions-group .brl-heading::after {
	content: "\0025C6";
	padding-left: 25px;
	color: var(--rodeo);
	font-size: 25px;
}
.brl-slide-captions-group label {
	display: block;
	color: var(--rodeo);
}
.brl-slide-caption-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 10;
	pointer-events: none;
}
.brl-slide-captions-group {
	text-align: center;
	background-color: var(--vulcan);
	border-top: 8px solid var(--rodeo);
	padding-bottom: 90px;
}
.brl-slider-wrapper .owl-carousel .item img {
	width: 100%;
	height: 100%;
	min-height: 100%;
	object-fit: cover;
}
#prime-carousel.owl-carousel .owl-nav {
	position: absolute;
	top: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 30px;
	height: 0;
}
#prime-carousel.owl-carousel .owl-nav button.owl-next,
#prime-carousel.owl-carousel .owl-nav button.owl-prev {
	color: #fff;
	font-size: 20px;
}
#prime-carousel .item-img-wrapper {
	height: 70vh;
	min-height: 700px;
}
.banner_dots {
	position: absolute;
	pointer-events: all;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
}
.banner_dots button {
	width: 8px;
	height: 8px;
	border: none;
	background-color: #9395a0;
	margin: 0 3px;
	padding: 0;
	border-radius: 100%;
}
.banner_dots button.active {
	border: 2px solid #c8a97e;
	width: 17px;
	height: 17px;
	background-color: transparent;
}
/* Carousel Slider CSS OVER Here */
/* [5.2] About Section CSS START Here */
.brl-about-text {
	color: var(--grayish);
	font-weight: 400;
	line-height: 1.7;
	font-size: 16px;
}
.brl-resturant-info {
	color: var(--gunmetal);
	font-weight: 600;
	line-height: 1.7;
}
.brl-resturant-info span {
	color: var(--rodeo);
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.brl-resturant-info span:hover{
	color: var(--gunmetal);
}
.brl-resturant-info a:hover { 
	color: var(--rodeo);
}
/* About Section CSS OVER Here */
/* [5.3] Service Section CSS START Here */
.brl-services {
	background-color: #fafafa;
}
.brl-service-title {
	font-size: 17px;
	font-weight: 700;
	color: var(--vulcan);
	margin: 15px 0 10px;
}
.brl-service-info {
	font-weight: 500;
	color: var(--grayish);
	font-size: 17px;
	line-height: 1.5;
}
/* Service Section CSS OVER Here */
/* [5.4] Special Dish Section CSS START Here */
.brl-dishes-info-wrapper {
	background-color: #f6f6f6;
	border-radius: 6px;
	padding: 45px 20px;
	text-align: center;
	min-height: 310px;
	max-height: 310px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	transition: all 0.5s;
}
.brl-dishes-info-wrapper:hover {
	box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
	transition: all 0.5s;
}
.brl-dish-name {
	display: block;
	font-size: 18px;
	font-weight: 700;
	margin: 25px 0 10px;
	color: var(--vulcan);
}
.brl-dish-prize {
	font-size: 17px;
	color: var(--rodeo);
	font-weight: 500;
}
.brl-dish-prize strike {
	color: var(--grayish);
}
/* Special Dish Section CSS START Here */
/* Top arrow CSS START Here */
.toTop {
	z-index: 20;
	width: 40px;
	right: 40px;
	height: 40px;
	bottom: 30px;
	display: flex;
	font-size: 35px;
	position: fixed;
	cursor: pointer;
	border-radius: 50px;
	color: var(--rodeo);
	align-items: center;
	justify-content: center;
	background-color: var(--gunmetal);
}
/* Top arrow CSS over Here */
/* Chefs of restaurant CSS START Here */
.social-icon {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	margin: auto auto 0;
}
.social-plus {
	width: 44px;
	height: 44px;
	border-radius: 44px;
	background-color: #c8a97e;
	text-align: center;
	line-height: 44px;
	color: #fff;
	font-size: 30px;
	box-shadow: 0 0 0 3px #fff;
	cursor: pointer;
	transform: rotate(45deg);
	transition: 0.6s;
	z-index: 1;
}
.popout {
	width: 40px;
	height: 40px;
	transform: scale(0.1);
	transition: 0.6s;
	cursor: pointer;
	border: 1px solid #c8a97e;
	line-height: 40px;
	text-align: center;
	border-radius: 100%;
	font-size: 18px;
	color: #c8a97e;
	background-color: #fff;
}
.popout:hover img {
	/* margin-left: -10px; */
	transition: 0.6s;
}
.social-icon img {
	height: 50px;
	width: 100px;
	transition: 0.6s;
}
.spin {
	transform: rotate(270deg);
}
.spin~.first {
	transform: scale(1) rotate(24deg) translateX(-75px);
	transition: 0.4s;
}
.spin~.second {
	transform: scale(1) rotate(70deg) translateX(-75px);
	transition: 0.5s;
}
.spin~.third {
	transform: scale(1) rotate(114deg) translateX(-75px);
	transition: 0.6s;
}
.spin~.fourth {
	transform: scale(1) rotate(158deg) translateX(-75px);
	transition: 0.6s;
}
.fourth i {
	transform: rotate(-158deg);
}
.third i {
	transform: rotate(-114deg);
}
.second i {
	transform: rotate(-70deg);
}
.first i {
	transform: rotate(-24deg);
}
.spin.social-plus {
	background-color: #363840;
}
.chefs-img {
	height: 100%;
	overflow: hidden;
	border-radius: 6px;
}
.chefs-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.social-ng {
	width: 380px;
	height: 280px;
	display: block;
	bottom: 0;
	left: 50%;
	position: absolute;
	background-color: #fff;
	border-radius: 100%;
	transition: all 0.5s;
	transform: translate(-50%, 50%) scale(0);
}
.spin+.social-ng {
	transform: translate(-50%, 50%) scale(1);
}
.chefs-box {
	overflow: hidden;
	position: relative;
	padding-bottom: 22px;
}
.popout:hover {
	background-color: #c8a97e;
	color: #fff;
}
#chefs-carousel .owl-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}#chefs-carousel  .owl-dot {
    width: 10px;
    height: 10px;
    background: #9395a0!important;
    border-radius: 100%;
    margin: 20px 4px 0;
}#chefs-carousel  .owl-dot.active {
    background: #fff!important;
    box-shadow: 0 0 0 4px #c8a97e;
}
/* Chefs of restaurant CSS Over Here */
/* Counter CSS Start Here */
.counter-sec {
	padding: 70px 0;
	background-image: url('../images/counter-bg.png');
	background-color: #363840;
	background-position: center;
	background-size: cover;
}
.count-no {
	font-size: 64px;
	color: #c8a97e;
	font-weight: 300;
	margin-bottom: 0;
}
.count-label {
	color: #fff;
}
/* Counter CSS Over Here */
/* Book A Table CSS Start Here */
.book-table-bg{
	background-image: url('../images/slider-one.jpg');
	width: 100%;
	padding: 0;
	position: relative;
}
.book-table-bg:after{
	content: "";
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.table-booking, .table-booking-menu{
	background-color: #c8a97e;
	height: 520px;
	width: 100%;
	padding: 80px 0;
	text-align: center;
	position: relative;
	z-index: 1;
}
.table-booking:after{
	content: "";
	position: absolute;
	background-image: url(../images/pattern-book.png);
	width: 100%;
	height: 150px;
	bottom: 0;
	left: 0;
	background-size: cover;
}
.btn-black{
	background-color: var(--vulcan);
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    padding: 10px 20px;
    border: 2px solid #363840;
    transition: all 0.5s;
}
.btn-black:hover {
    border: 2px solid #363840;
    background: transparent;
    color: #363840;
    transition: all 0.5s;
}
.table-booking h4 , .table-booking-menu h4{
    color: #fff;
    font-weight: 100;
    font-size: 38px;
    margin-bottom: 20px;
}
.table-booking p {
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.8;
}
.table-booking a.btn-black {
    margin-top: 30px;
    padding: 12px 24px;
}
.table-booking-menu{
	background-color: rgba(0,0,0,0.60);
}
.time-menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 22px 50px;
}
.time-menu p {
    margin: 0;
    color: #fff;
}
.time-menu:after {
	content: "";
	border-bottom: 1px dashed #fff;
	position: absolute;
	width: 40%;
	left: 45%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.time-menu.active p{
	color: #c8a97e;
}
.time-menu.active:after{
	border-bottom: 1px dashed #c8a97e;
}
.table-booking-menu h4 {
    margin-bottom: 50px;
}/* Book A Table CSS Over Here */


/* Testimonials CSS Start Here */
.testimonials {
    padding: 20px 40px;
}
.testimonials-info ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}
.testimonials-info ul li {
	margin-right: 4px;
	color: #c8a97e;
}
.testimonials-info ul li.star-opacity {
    color: #bfc1ca
}
.testimonials p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.testimonials-info h6 {
    color: #363840;
    font-size: 20px;
    margin-bottom: 8px;
}
.testimonials-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    margin-right: 15px;
}
.testimonials-img img {
    object-fit: cover;
}
.testimonials-box {
    display: flex;
    align-items: center;
    background: #fafafa;
    margin: 30px 10px 10px;
    padding: 30px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    cursor: pointer;
}
.owl-item.active.current .testimonials-box{
	background-color: #c8a97e;
}
.owl-item.active.current .testimonials-info h6, .owl-item.active.current .testimonials-info ul li{
	color: #fff
}
.owl-item.active.current .testimonials-info ul li.star-opacity{
	color: #e2c7a1;
}
#sync1 .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #c8a97e;
}
#sync1 .owl-nav button.owl-next{
	position: absolute;
	right: 0;
	top: 50%;
    transform: translateY(-50%);
    color: #c8a97e;
}
#sync1 .owl-nav button.owl-prev:hover, #sync1 .owl-nav button.owl-next{
	background:transparent;
}
.custom-pad{
	padding: 100px 0;
}

/* Testimonials CSS Over Here */


/* Letest News Feed CSS Start Here */
.news-card {
    background: #fff;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    /* height: 420px; */
    margin: 15px 0;
    transition: all 0.5s;
    border: 1px solid transparent;
}
.news-card:hover {
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.1);
    transition: all 0.5s;
    border: 1px dashed #000;
}
.news-info {
    /* padding: 40px 0; */
    text-align: center;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
}
.news-img {
    position: relative;
    height: 233px;
    overflow: hidden;
    border-radius: 5px;
    border-bottom-left-radius: 0;
}
.news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-sub-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300px);
    width: 100%;
    z-index: 5;
    text-align: center;
    transition: all 0.4s; 
}
.news-img:after {
    position: absolute;
    background: #00000054;
    width: 100%;
    height: 100%;
    content: "";
    top: 300px;
    left: 0;
    transition: all 0.66s;
}
.news-card:hover .blog-sub-info{
	transform: translate(-50%, -50%);
	transition: all 0.66s;
}
.news-card:hover .news-img:after {
	top: 0;
	transition: all 0.4s;
}
.blog-sub-info p {
    color: #fff;
}
.blog-sub-info a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    background: #c8a97e;
    border-radius: 100%;
    padding: 15px;
}
.news-info h4 {
    font-size: 20px;
    color: #363840;
    /* padding: 40px 0 0 0px; */
}
.news-info p {
    color: #9395a0;
    /* padding: 0 20px 30px; */
}
.blog-btn {
	position: relative;
	margin: 40px 0  20px;
}
/* Letest News Feed CSS Over Here */
/* footer CSS Over Here */
.footer-bg{
	background-image: url(../images/footer-img.jpg);
	width: 100%;
	background-size: cover;
}
.main-footer {
    display: flex;
    justify-content: space-between;
}
.main-footer p, .main-footer a, .main-footer address {
    color: #fff;
}
.main-footer h6 {
    color: #c8a97e;
    font-size: 16px;
    font-weight: 600;
    margin: 50px 0 30px;
}
.f-1 p {
    line-height: 1.8;
}
.f-1 ul {
    display: flex;
}
.f-1 ul li {
    margin-right: 10px;
}
.f-1 ul li a {
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid #c8a97e;
    border-radius: 100%;
    transition: all 0.5s;
    color: #c8a97e;
    justify-content: center;
    align-items: center;
    font-size: 22px
}
.f-1 ul li a:hover {
    background: #c8a97e;
    color: #fff;
    transition: all 0.5s;
}
.f-2 ul li a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}
.f-2 ul li a:hover {
	color: #c8a97e;
}
.f-3 p i, .f-3 address i {
    color: #c8a97e;
    margin-right: 10px;
}
.f-4 input {
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border: none;
    min-height: 55px;
    padding: 0 20px;
    background: #41434c;
    font-weight: 600;
}

.f-4 input::placeholder {
    color: #9395a0;
}

.f-4 a {
    margin: 10px 0 0 0;
    padding: 12px 25px;
}
.copyright p, .copyright a {
    color: #fff;
    margin: 0;
    font-size: 16px;
}
.copyright a, .sub-copy a {
	color: #fff;
}
.copyright a:hover, .sub-copy a:hover {
	color: #c8a97e;
}
.copyright {
    display: flex;
    justify-content: space-between;
}
.sub-copy {
    display: flex;
}
.sub-copy p {
    margin-left: 30px;
    position: relative;
    color: #9395a0;
    font-weight: 600;
}
.sub-copy a {
    color: #c8a97e;
}
.sub-copy a:hover {
	color: #fff;
}
.sub-copy p:after {
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	background: #9395a0;
	border-radius: 100%;
	top: 50%;
	left: -17px;
	transform: translateY(-50%);
}
.bg-black {
    background: rgba(0, 0, 0, 0.4);
    padding: 22px 0;
}
.first-container {
	margin: 0 auto 50px auto;
}
.sub-copy p a {
    color: #fff;
}
/* footer CSS Over Here */
/* menu CSS Start Here */
.brl-services-2{
	padding: 50px 0;
}
.portfolio-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.portfolio-menu ul svg {
    width: 40px;
    margin: 0 auto;
    height: 40px;
}
.portfolio-menu ul li {
    width: calc(100% / 6);
    text-align: center;
    cursor: pointer;
}
.portfolio-menu ul p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #363840;
    transition: all 0.5s
}
.portfolio-menu ul li:hover path{
	transition: all 0.5s;
}
.portfolio-menu ul li.active path, .portfolio-menu ul li.active p, .portfolio-menu ul li:hover path, .portfolio-menu ul li:hover p {
    fill: #c8a97e!important;
    color: #c8a97e;
}
.single-content {
    width: 100%;
    height: 350px;
    background: #fafafa;
    text-align: center;
    position: relative!important;
    top: 0!important;
    left: 0!important;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px 0;
    transition: all 0.4s;
}
.single-content:hover {
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    transition: all 0.4s;
}
.single-content p {
    font-size: 16px;
    color: #c8a97e;
    font-weight: 500;
}
.single-content h6 {
    font-size: 16px;
    margin-bottom: 10px;
}
.banner-img{
	position: relative;
	width: 100%;
}
.banner-img img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.banner-info h5 {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
}

.banner-info .breadcrumb a, .banner-info .breadcrumb li {
    color: #fff;
    font-weight: 400;
}
.breadcrumb-item.active {
	font-weight: 600 !important;
}

.banner-info .breadcrumb {
    justify-content: center;
    padding: 0;
    margin: 0;
	background-color: transparent;
}
.banner-info {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.breadcrumb-item+.breadcrumb-item::before{
	color: #fff;
}
/* menu CSS Over Here */
/* gallery CSS Start Here */
[data-fancybox="gallery"]{
	display: block;
}
.gallery-img {
    margin: 15px 0;
    position: relative;
    overflow: hidden;
}
.gallery-img:before{
	content: "\f31e";
	position: absolute;
	font-family: "Font Awesome 5 Pro";
	width: 50px;
	height: 50px;
	background: #c8a97e;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 100%;
	font-size: 20px;
	top: -10%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.4s;
	z-index: 2;
}
.gallery-img:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.40);
	transition: all 0.5s;
}
.gallery-img:hover:before{
	top: 50%;
	transition: all 0.5s;
}
.gallery-img:hover:after{
	top: 0;
	transition: all 0.4s;
}
/* gallery CSS Over Here */
/* blog CSS Start Here */
/* blog CSS Over Here */
/* contact CSS Start Here */
.map{
	position: relative;
}
.map iframe{
	width: 80%;
	height:600px;
}
.contact-main{
	background-color: #363840;
	padding: 50px;
	position: absolute;
	width: 40%;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}
.contact-photo {
    width: 40px;
    height: 40px;
    background: #c8a97e;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-right: 20px;
}
.contact-info p {
    color: #fff;
    margin-bottom: 6px;
    font-weight: 500;
}

.contact-info a, .contact-info address {
    color: #9395a0;
    font-size: 16px;
    margin-bottom: 0;
}

.contact {
    display: flex;
    align-items: center;
    margin: 60px 0;
}
.contact-main-form {
    display: flex;
    height: 100%;
    width: 100%;
}

input, select {
    display: block;
    width: 100%;
    min-height: 50px;
    margin-bottom: 25px;
    padding: 0 20px;
    background-color: #fafafa;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    color: #000;
}

.form-input {
    width: 50%;
    margin-right: 15px;
}

.form-mesage {
    width: 50%;
    margin-left: 15px;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fafafa;
    border: none;
    font-weight: 600;
    color: #000;
    resize: none;
    border-radius: 8px;
    border-bottom-left-radius: 0;
}

input:nth-last-child(1) {
    margin: 0;
}
input::placeholder, textarea::placeholder {
    font-weight: 600;
    color: #9395a0;
}
.contact-form {
    margin-top: 60px;
}
/* contact CSS Over Here */
/* book a table CSS Start Here */
select{
	-webkit-appearance:none;
}
.select-box{
	position: relative;
}
.select-box a{
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
}
input[type="date"]{
	padding-right: 50px;
	-webkit-appearance: none;
}
.marg-box{
	margin: 25px 0 0 0;
}
.bokking-info p {
    font-size: 16px;
    color: #9395a0;
    font-weight: 500;
    line-height: 1.7;
}
.sub-booking p {
    color: #363840;
    margin-bottom: 8px;
}
.sub-booking span {
    color: #c8a97e;
    font-weight: 600;
}
.docs-datepicker a {
    top: 30%;
}
/* book a table CSS Over Here */
/* Blog-detail CSS Start Here */
.blog-date{
	text-align: center;
	font-weight: 600;
	color: #9395a0;	
}
.blog-detail-img {
    margin: 50px 0 20px 0;
}
.blog-border{
	border-bottom: 1px solid #e3e3e3
}
.blog-detail-info p{
	color: #9395a0;
	font-weight: 500;
	line-height: 1.8
}
.blog-detail-info {
    margin: 30px 0;
    padding-bottom: 50px;
}
.blog-detail-tag ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
.blog-detail-tag ul li {
    color: #c8a97e;
    padding: 14px 30px;
    background: #fafafa;
    margin-right: 10px;
    font-weight: 500;
}
.blog-detail-tag {
    margin: 40px 0;
    padding-bottom: 50px;
}
.blog-detail-tag h5 {
    font-size: 20px;
    color: #363840;
    font-weight: 600;
    margin-bottom: 50px;
}
.blog-profile {
    overflow: hidden;
    border-radius: 100%;
    margin-right: 20px;
}

.blog-detail-profile {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.blog-profile-info p {
    font-size: 16px;
    color: #9395a0;
    font-weight: 500;
}

.blog-profile-info h6 {
    color: #363840;
    margin-bottom: 9px;
    font-size: 20px;
    font-weight: 600;
}
.brl-services2 {
    padding: 60px 50px;
}
.blog-detail-profile-2{
	display: flex;
	justify-content: flex-start;
	padding-bottom: 40px;
	margin-bottom: 40px;
}
.blog-profile2{
	margin-right: 15px;
}
.blog-profile2 img{
	border-radius: 100%;
}
.blog-profile-info2{
	position: relative;
	width: 100%;
}
.blog-profile-info2 p {
    font-size: 15px;
    line-height: 1.7;
}

.blog-profile-info2 .blog-btn {
    margin: 0;
    font-size: 15px;
    padding: 8px 16px;
}
.blog-profile-info2 span a {
    color: #c8a97e;
    font-weight: 600;
}
.blog-detail-profile-2:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
}
/* Blog-detail CSS Over Here */
/* menu-detail CSS Start Here */
.dish-info ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}
.dish-info ul li {
    font-size: 10px;
    color: #c8a97e;
    margin-right: 2px;
}

.dish-info ul li p {
    font-size: 16px;
    color: #000;
    margin: 0;
    margin-left: 5px;
}
.dish-info ul li.star-color{
	color: #bfc1ca
}
.dish-info h2{
	margin-bottom: 10px!important;
}
.dish-info p {
    font-size: 15px;
    line-height: 1.7;
    font-weight: 500;
    color: #9395a0;
    margin: 30px 0 0;
}
.non-veg {
    display: inline-block;
    background: #fafafa;
    padding: 12px 24px;
    margin: 40px 0;
}
.non-veg p {
    display: inline;
}
.dish-info h4 {
    font-size: 42px;
    font-weight: 100;
    color: #c8a97e;
}
ul.starss li {
    padding: 0;
    margin: 0;
    font-size: 10px;
    margin-left: 2px;
}
ul.starss {
    position: absolute;
    top: 4px;
    right: 0px;
}
ul.starss li.star-color {
    color: #c0c2cb;
}
.rating-box {
  	background: #fafafa;
    padding: 0 21px;
    margin: 25px 0;
}
.rating-box .rating-container {
  direction: rtl !important;
}
.rating-box .rating-container label {
  display: inline-block;
  margin: 16px 8px;
  color: #d4d4d4;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.2s;
}
.rating-box .rating-container input {
  display: none;
}
.rating-box .rating-container label:hover,
.rating-box .rating-container label:hover ~ label,
.rating-box .rating-container input:checked ~ label {
  color: #c8a97e;
}
/* menu-detail CSS Over Here */
/* countdown CSS Over Here */
.bg-gold{
	background-color: #c8a97e;
	height: 100vh;
	position: relative;
}
a.logo {
    display: block;
    text-align: center;
}
.bg-gold:after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 286px;
	height: 85%;
	background-image: url(../images/left-slide.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.bg-gold:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 286px;
	height: 85%;
	background-image: url(../images/right-slide.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.timer {
    margin: 100px 0;
}
.count {
    display: flex;
    align-items: center;
    width: 18%;
    margin: 0 auto;
}
.count input {
    margin: 0 5px 0 0;
}
.count a {
    background: #363840;
    margin: 0 0 0 5px;
}
.count a:hover{
	color: #c8a97e
}
.count-info{
	text-align: center;
	position: relative;
	margin: 40px 0px;
	z-index: 2;
}
.count-info h2 {
    color: #fff;
    margin-bottom: 16px!important;
}
.count-info p {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
}
.cont-down {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 23;
    padding: 0 15px;
}
/* countdown CSS Over Here */
/* spinner CSS Start Here */
#spinner {
    background: #FFFFFF url(../images/spinner.gif) no-repeat scroll 50% 50%;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1001;
}
/* spinner CSS Over Here */
