.top-menu-wrapper {
    z-index: 99;
    border: 0px solid blue;
    background: white;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    width: 100%;
    top: 0;
    transition: all .3s ease-in;
}
#menu a {
    color: #161616 !important;
    font-weight: bold !important;
}

.menu-heading{
    margin-top: 50px;
    width: 100%;
    height: 40vh;
    background-color: #ffca0c;
    display: grid;
    place-items: center;
}
.menu-heading .heading-title{
    color: #161616;
    font-weight: bold;
}

.tabs-wrapper, .connected-wrap{
    border: 0px solid transparent !important;
}
ul#tab{
    padding: 0px !important;
}



.menu-section-nikhil .theiaStickySidebar .category a{
    border: 0px solid #fff;
    padding-left: 15px;
    transition: 0.5s all ease-in-out !important;
}
.category .goto-category.active{
    border-left: 4px solid #ffca0c !important;
    padding-left: 11px !important;
    transition: 0.5s all ease-in-out !important;
    font-weight: 600 !important;
}
.menu-section-nikhil .theiaStickySidebar .category a:nth-child(1){
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menu-section-nikhil .theiaStickySidebar .category a:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu-section-nikhil .theiaStickySidebar .category a i.ion-ios-arrow-right{
    display: none;
}

.menu-section-nikhil .menu-1.box-grey{
    border-radius: 10px;
    border: 0px solid transparent;
}
.menu-section-nikhil .menu-1.box-grey .menu-cat a span{
    border-left: 4px solid #ffca0c;
    padding-left: 5px;
    font-size: 20px;
}
.menu-section-nikhil .menu-1.box-grey .menu-cat a span i,
.menu-section-nikhil .menu-1.box-grey .menu-cat a b{
    display: none;
}
.menu-section-nikhil .menu-1.box-grey .menu-cat .items-row{
    padding: 15px;
}
.menu-section-nikhil .menu-1.box-grey .menu-cat .items-row .row.even{
    border-bottom: 0px solid transparent;
}
.menu-section-nikhil .menu-1.box-grey .menu-cat .items-row .row.even .col-md-7.col-xs-7.border,
.menu-section-nikhil .menu-1.box-grey .menu-cat .items-row .row.odd .col-md-7.col-xs-7.border{
    font-weight: bold;
}
.menu-section-nikhil .menu-1.box-grey .menu-cat .items-row .row.even .col-md-3.col-xs-3.food-price-wrap.border,
.menu-section-nikhil .menu-1.box-grey .menu-cat .items-row .row.odd .col-md-3.col-xs-3.food-price-wrap.border{
    font-weight: bold;
}
.menu-section-nikhil .menu-1.box-grey .menu-cat .items-row .col-md-1.col-xs-1.relative.food-price-wrap.border{
    float: right;
}
.menu-section-nikhil .menu-1.box-grey .menu-cat .items-row .col-md-1.col-xs-1.relative.food-price-wrap.border{
    float: right;
}
.menu-section-nikhil .green-color{
    color: #161616;
}
.menu-section-nikhil .menu-cat .items-row a:hover i{
    color: #ffca0c;
}

.menu-section-nikhil .right-section-nikhil .box-grey{
    background-color: transparent !important;
    border: 0px solid !important;
}
.menu-section-nikhil .delivery-info-section-nikhil,
.menu-section-nikhil .menu-cart-section-nikhil,
.menu-section-nikhil .checkout-section-nikhil{
    background-color: #ffffff;
    border: 0px solid transparent;
    border-radius: 10px;
    margin-bottom: 20px;
    border-top: 0px solid !important;
}
.menu-section-nikhil .delivery-info-section-nikhil p.bold,
.menu-section-nikhil .menu-cart-section-nikhil p.bold{
    font-size: 20px;
    position: relative;
}
.menu-section-nikhil .delivery-info-section-nikhil p.bold::after,
.menu-section-nikhil .menu-cart-section-nikhil p.bold::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 5px;
    width: 60px;
    background-color: #ffca0c;
}
.menu-section-nikhil .delivery-info-section-nikhil .change-address-nikhil{
    background-color: #ffca0c;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none !important;
    border-radius: 50px;
}
.menu-section-nikhil .menu-cart-section-nikhil .clear-cart{
    background-color: #ffca0c;
    color: #161616;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none !important;
    border-radius: 50px;
}

.menu-section-nikhil .checkout-section-nikhil p.bold{
    font-size: 20px;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
}
.menu-section-nikhil .checkout-section-nikhil p.bold::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 5px;
    width: 60px;
    background-color: #ffca0c;
}
.menu-section-nikhil .checkout-section-nikhil .delivery-asap span{
    font-weight: bold;
}
.menu-section-nikhil .checkout-section-nikhil .grey-fields {
    width: 100%;
    background-color: transparent;
    border: 1px solid #d4d4d4;
}
.menu-section-nikhil .checkout-section-nikhil .grey-fields.time_list{
    margin-bottom: 20px;
}
.menu-section-nikhil .checkout-section-nikhil .delivery_asap_wrap{
    margin-bottom: 30px;
}
.menu-section-nikhil .checkout-section-nikhil .orange-button.medium.checkout{
    background-color: #ffca0c;
    border-color: #ffca0c;
    color: #161616;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}






.card {
    padding: 10px;
    background: white;
    border: 1px solid #c3c3c3;
}

.card-header{
    padding: 10px ;
    border-bottom: 1px solid #c3c3c3;
}

.card-header .card-title{
    font-weight: bold;
    text-align: center;
}

.card-body{
    padding: 10px ;
}

.text-bold, b{
    font-weight: bold;
}

@media (max-width: 767px){
    .sections.section-menu.section-grey2 .container {
        width: 100%;
    }
}